/*------------------------------------------------------Google Font--*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

/*------------------------------------------------------Basic Structure Styling--*/
html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color:#000000;
    background: #ffffff;
    font-size: 1rem;
    top: 0 !important;
    height: 100%;
}

main {
    padding: 100px 40px;
    min-height: 100%;

}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-bottom: 0;
}

.bottom-mar {
    margin-bottom: 16px;
}

.section {
    margin-top: 20px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.inline-block {
    display: inline-block;
}

/*---------------------------Brand Colours--*/
:root {
    --brand-color: purple;
    --brand-cta: orange;
}

/*---------------------------Page Lines--*/
.page-line {
    border: 1px solid;
}

.page-line--page {
    border-color: var(--brand-cta);
    width: 100%;
}

.page-line--brand {
    border-color:var(--brand-cta);
}

.page-line--fw {
    width: 100%;
    max-width: none;
}

.page-line--left {
    margin-left: 0;
}

/*------------------------------------------------------Buttons / Call To Actions--*/
.cta {
    background-color: var(--brand-cta);
    color: black;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 6px;
}

.btn-icon {
    font-size: 2rem;
    padding-right: 22px;
}

/*------------------------------------------------------Site Header--*/
.site-header {
    width: 100%;
    background-color: var(--brand-color);
    position: fixed;
    color: white;
    filter: drop-shadow(0px 0px 5px #000000);
    padding: 10px 45px;
    z-index: 100;
}

.logo {
    line-height: 2;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
}

.site-header__nav {
    display: inline;
}

.site-header__nav>.navbar-collapse{
    float: right;
}

.site-header__navbar li {
    display: inline;
    padding-right: 22px;
}

.site-header__navbar a:hover,
.site-header__navbar a:active,
.site-header__navbar .active {
    border-bottom: 3px solid;
    border-color: var(--brand-cta);
}

/*------------------------------------------------------Hero Image-- */
.hero {
    width: 100%;
    font-family: 'Playfair Display', serif;
}

.hero__image {
    background: url(../images/bramble.jpg) no-repeat center center;
    background-position: 0% 75%;
    position: relative;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.hero__categ-name {
    position: absolute;
    left: 5%;
    top: 15%;
    color: white;
    font-size: 9rem;
}

.hero-inner {
    color: #ffffff;
    position: absolute;
    left: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hero__title {
    font-weight: 700;
    font-size: 3.25rem;
    color: yellow;
}

.hero__cocktail {
    font-weight: 700;
    font-size: 6rem;
} 

.hero__page-line {
    width: 375px;
}

.hero__tagline {
    font-size: 2rem;
    font-weight: 700;
}

.hero__cta {
    font-size: 2rem;
    margin-top: 15px;
    display: inline-block;
    background-color: limegreen;
    color: white;
}

/*------------------------------------------------------Recipe Carsousel--*/
.rec-carsousel {
    margin-top: 25px;
    position: relative;
}

.rec-carsousel_title {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 3rem;
    margin: 0 0 5px 20px;
    color: purple;
}

.rec-carsousel_page-line {
    margin: 0 0 20px 0;
}

.rec-carsousel_swiper-button {
    height: 101%;
    width: 150px;
    top: 64%;
    margin: -15px;
    transform: translateY(-60%);
    color: var(--brand-color);
    font-weight: 800;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: left;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination {
    position: static;
    margin-left: 20px;
}

.swiper-pagination-bullet {
    border-radius: 0;
    margin: 5px;
    height: 20px;
    width: 20px;
    background: var(--brand-color);
}

.swiper-button-prev {
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255, 1) 100%);
}

.swiper-button-next {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255, 1) 100%);
}

.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
    display: none;
}



/*------------------------------------------------------Product Card--*/
.rec-card {
    background: purple;
    color: white;
    border: 0;
    border-radius: 7.5px;
}

.rec-card_container {
    margin: 0;
}

.rec-card_item {
    padding: 0;
}

.rec-card_title {
    font-size: 2rem;
}

.rec-card_img {
   height: 245px;
   width: 100%;
   border-top-left-radius: 7.5px;
   border-top-right-radius: 7.5px;
}

.rec-card_info {
    width: 100%;
    padding: 20px 15px;
}

.rec-card_info p{
    margin: 10px 0;
}

.rec-card_star-rating {
    font-size: 1.5rem;
}

.rec-card_col {
    text-align: right;
}

.rec-card_cta {
    font-size: 1.5rem;
}

/*------------------------------------------------------Footer--*/
.footer{
    background-color: #383838;
    color: white;
}

.footer_container {
    padding: 30px;
    width: 100%;;
}

.footer_list {
    list-style-type: none;
    padding: 0;
}

.footer_social {
    font-size: 4rem;
}

.footer_social li {
    display: inline;
}
