/*------------------------------------------------------Google Font--*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

/*------------------------------------------------------Basic Structure Styling--*/
html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color:#000000;
    background: #ffffff;
    font-size: 1rem;
    top: 0 !important;
    height: 100%;
}

main {
    padding: 100px 30px;
    min-height: 100%;

}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-bottom: 0;
}

.bottom-mar {
    margin-bottom: 16px;
}

/*---------------------------Brand Colours--*/
:root {
    --brand-color: purple;
    --brand-cta: orange;
}

/*---------------------------Page Lines--*/
.page-line {
    border: 1px solid;
}

.page-line--page {
    border-color: var(--brand-cta);
    width: 100%;
}

.page-line--brand {
    border-color:var(--brand-cta);
}

.page-line--fw {
    width: 100%;
    max-width: none;
}

.page-line--left {
    margin-left: 0;
}

/*------------------------------------------------------Buttons / Call To Actions--*/
.cta {
    background-color: var(--brand-cta);
    color: black;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 6px;
}

.btn-icon {
    font-size: 2rem;
    padding-right: 22px;
}

/*------------------------------------------------------Site Header--*/
.site-header {
    width: 100%;
    background-color: var(--brand-color);
    position: fixed;
    color: white;
    filter: drop-shadow(0px 0px 5px #000000);
    padding: 10px 45px 10px 30px;
}

.logo {
    line-height: 2;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
}

.site-header__nav {
    display: inline;
}

.site-header__nav>.navbar-collapse{
    float: right;
}

.site-header__navbar li {
    display: inline;
    padding-right: 22px;
}

.site-header__navbar a:hover,
.site-header__navbar a:active,
.site-header__navbar .active {
    border-bottom: 2px solid;
    border-color: white;
}

/*------------------------------------------------------Hero Image-- */
.hero {
    width: 100%;
    font-family: 'Playfair Display', serif;
}

.hero__image {
    background: url(../images/bramble.jpg) no-repeat center center;
    background-position: 0% 75%;
    position: relative;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.hero-inner {
    color: #ffffff;
    position: absolute;
    left: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hero__title {
    font-weight: 700;
    font-size: 3.25rem;
    color: yellow;
}

.hero__cocktail {
    font-weight: 700;
    font-size: 6rem;
} 

.hero__page-line {
    width: 375px;
}

.hero__tagline {
    font-size: 2rem;
    font-weight: 700;
}

.hero__cta {
    font-size: 2rem;
    margin-top: 15px;
    display: inline-block;
    background-color: limegreen;
    color: white;
}


/*------------------------------------------------------Footer--*/
.footer{
    background-color: #383838;
    color: white;
}

.footer_container {
    padding: 30px;
    width: 100%;;
}

.footer_list {
    list-style-type: none;
    padding: 0;
}

.footer_social {
    font-size: 4rem;
}

.footer_social li {
    display: inline;
}
