{% extends "base.html" %}
{% block content %}
    <!--Cocktail Header-->
    <section class="cocktail-header">
        <h1 class="cocktial-header__name inline-block">{{ cocktail.cocktail_name.title() }}</h1>

        <!--Bookmark-->
        <form id="bookmark" class="cocktail-header__bookmark-form" action="{{ url_for('cocktail', cocktail_name=cocktail.cocktail_name.replace(' ', '-'), cocktail_id=cocktail._id) }}" method="POST">
            <input type="hidden" id="random" name="random" value="{{ range(1, 10000000) | random }}">
            <input type="hidden" name="cocktail-id" value="{{ cocktail._id }}">
            <button class="cocktail-header__bookmark-btn" name="form-submit" value="bookmark">
                <p class="cocktail-header__function cocktail-header__function--bookmark">
                    {% if bookmark == "false" %}
                        {% if session.user %}
                            <i class="far fa-bookmark inline-block"></i> Save
                        {% else %}
                            <span class="faded"><i class="far fa-bookmark inline-block"></i> Save</span>
                        {% endif %}
                    {% else %}
                        <i class="fas fa-bookmark inline-block"></i> Saved
                    {% endif %}
                </p>
            </button>
        </form>
        {% if session.id == cocktail.author_id %}
        <div class="cocktail-edit-container inline-block">
            <!--Author Edit Buttons-->
            <a href="{{ url_for('cocktail_create', cocktail_name=cocktail.cocktail_name.replace(' ', '-'), cocktail_id=cocktail._id) }}" class="cocktail-header__function cocktail-header__function--edit">
                <i class="fas fa-pencil-alt"></i> Edit
            </a>
            <a href="{{ url_for('delete_cocktail', cocktail_id=cocktail._id) }}" class="cocktail-header__function cocktail-header__function--delete">
                <i class="fas fa-minus-circle"></i> Delete
            </a>
        </div>
        {% endif %}

        <!--Cocktail Rating-->
        <div class="cocktail-header__star-rating">
            {% if cocktail.rating == 0 %}
                No Rating
            {% else %}
                {%  for i in range (0, cocktail.rating | round | int) %}
                    <i class="fas fa-star"></i>
                {% endfor %}
            {% endif %}
            ({{ cocktail.no_rating }})
        </div>

        <!--Cocktail Info-->
        <p class="cocktail-header__info"><strong>Date Added:</strong> {{ cocktail.date_added.strftime('%d/%m/%y') }}</p>
        <p class="cocktail-header__info">
            <a href="{{ url_for('profile', profile_name=cocktail.author, profile_id=cocktail.author_id) }}">
                by <span class="cocktail-header__author">{{ cocktail.author }}</span>
            </a>
        </p>

        {% if (session.id) and (session.id != cocktail.author_id) and (cocktail._id | string not in user_rated_cocktails) %}
            <!--Form Rate Cocktail-->
            <div>
                <form id="cocktail-rating" class="form-rating collapse" action="{{ url_for('cocktail', cocktail_name=cocktail.cocktail_name.replace(' ', '-'), cocktail_id=cocktail._id) }}" method="POST">
                    <div id="star-rating" class="star-rating float-left">
                        {% for i in range(5, 0, -1) %}
                            {% if i == 5 %}
                                <input type="radio" name="star-rating" value="{{ i }}" id="{{ i }}-stars" aria-label="{{ i }} star rating" required>
                            {% else %}
                                <input type="radio" name="star-rating" value="{{ i }}" id="{{ i }}-stars" aria-label="{{ i }} star rating">
                            {% endif %}
                            <label for="{{ i }}-stars"><i class="far fa-star"></i></label>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="random" value="{{ range(1, 10000000) | random }}">
                    <input type="hidden" name="cocktail-id" value="{{ cocktail._id }}">
                    <button class="form-rating__btn cta--create cta float-right" name="form-submit" value="rating">Submit</button>
                </form>
                <button class="cocktail-header__form-btn cta inline-block" type="button" data-toggle="collapse" data-target="#cocktail-rating" aria-expanded="false" aria-controls="cocktial-rating">
                    Rate This Cocktail
                </button>
            </div>
        {% elif cocktail._id | string in user_rated_cocktails %}
            <p class="cocktail-header__info cocktail-header__info--feedback"> You Rated This Cocktails <i class="fas fa-thumbs-up"></i></p>
        {% endif %}
    </section>

     <!--Cocktail Image-->
    <div class="row">
        <div class="cocktail__img-contianer col-12">
            <img class="cocktail__img" src="{{ cocktail.image }}" alt="cocktial image">
        </div>
    </div> 

    <!--Cocktail Info-->
    <section class="cocktail cocktail-body">
        <div class="cocktail__row row">

            <!--Cocktail Ingredients-->
            <div class="cocktail__ingredients col-12 col-lg-6">
                <h2 class="cocktail__item-title">Ingredients</h2>
                <ul class="cocktail__info">
                    {% for i in range(0, cocktail.ingredients | length ) %}
                        <li class="clear-both">
                            <p class="float-left">
                                {{ cocktail.ingredients[i][0] }} 
                                
                                {% if cocktail.ingredients[i][1] != "no unit" %}
                                    {{ cocktail.ingredients[i][1] }}
                                {% endif %}
                                
                                {{ cocktail.ingredients[i][2].title() }}
                            </p>
                            <span class="cocktail__checkbox float-right">
                                <i class="far fa-square"></i>
                            </span>
                        </li>
                    {% endfor %}
                </ul>

                <!--Cocktail Garnish-->
                <h2 class="cocktail__item-title clear-both">Garnish</h2>
                <ul id="cocktail__info" class="cocktail__info">
                    {% for i in range(0, cocktail.garnish | length) %}
                        <li class="garnish clear-both"><p class="float-left">{{ cocktail.garnish[i][0] }} {{ cocktail.garnish[i][1].title() }}</p><span class="cocktail__checkbox float-right"><i class="far fa-square"></i></span></li>
                    {% endfor %}
                </ul>

                <div class="cocktail__affiliate">
                    <h3>Get What You Need</h3>
                    <p>Find a wide range of alcohol and mixers here:</p>
                    <a href="https://www.masterofmalt.com/" target="_blank" class="bottom-mar affiliate">Master of Malt</a>
                </div>

            </div>

            <!--Cocktail Tools-->
            <div class="cocktail__tools col-12 col-lg-6">
                <h2 class="cocktail__item-title">Tools</h2>
                <ul class="cocktail__info">
                    {% for i in range(0, cocktail.tools | length) %}
                        <li class="clear-both"><p class="float-left">{{ cocktail.tools[i].title() }}</p><span class="cocktail__checkbox float-right"><i class="far fa-square"></i></span></li>
                    {% endfor %}
                </ul>

                <!--Glass-->
                <h2 class="cocktail__item-title clear-both">Glass</h2>
                <ul class="cocktail__info">
                    <li class="glass"><p>{{ cocktail.glass.title() }}</p></li>
                </ul>
                

                <div class="cocktail__affiliate">
                    <h3>Missing a Tool</h3>
                    <p>Grab all the tools you need:</p>
                    <a href="https://www.drinkstuff.com/products/cocktail-accessories.asp?nav=left" target="_blank" class= "affiliate">Drink Stuff</a>
                </div>
            </div>
        </div>

        <!--Cocktail Intructions-->
        <div class="cocktail__row row">
            <div class="cocktail__intructions col-12">
                <h2 class="cocktail__item-title">Intructions</h2>
                <ol class="cocktail__info">
                    {% for i in range(0, cocktail.instructions | length) %}
                        <li class="clear-both"><p class="float-left">{{ cocktail.instructions[i].capitalize() }}</p><span class="cocktail__checkbox float-right"><i class="far fa-square"></i></span></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="center-text">
            <a href="{{ url_for('home') }}" class="cta cta--home">Home</a>
        </div>
    </section>
{% endblock %}