{% extends "base.html" %}
{% block content %}
    <!--Cocktail Header-->
    <section class="cocktail-header">
        <h1>Create Cocktail</h1>

        <!--Add Cocktail Form (in the style of view coctail page)-->
        <form id="cocktail-create" class="form-cocktail" action="{{ url_for('cocktail_create') }}" method="POST">
            <input type="text" name="cocktail-name" class="form-cocktail__input form-cocktail__input--title" id="cocktail-name" 
                placeholder="Enter Cocktail Name" aria-label="enter cocktail name" maxlength="20" required>
            <div class="cocktail-header__star-rating">
                <p>
                    {% for i in range(0, 5) %}
                        <i class="far fa-star"></i>
                    {% endfor %}
                    <span>(No rating yet)</span>
                </p>
            </div>

            <!--Cocktail Info-->
            <div class="cocktail row">

                <!--Cocktail Ingredients-->
                <div class="cocktail__ingredients col-5">
                    <h2 class="cocktail__item-title">Ingredients</h2>

                    <!--2 Hard coded inputs which can't be removed as all cocktail must have at least 2 ingrdients-->
                    <!--1st Ingredient-->
                    <ul id="cocktail-ingredients" class="cocktail__info">
                        <li class="ingredient">

                            <!--Amount-->
                            <input type="text" id="ingredient-amount-1" name="ingredient-amount-1" class="form-cocktail__input form-cocktail__input--amount" 
                                pattern="^[0-9.]{0,5}$" maxlength="5" placeholder="25" aria-label="enter amount of main alcohol" required>
                            
                            <!--Unit-->    
                            <input type="text" id="ingredient-unit-1" name="ingredient-unit-1" class="form-cocktail__input form-cocktail__input--fixed" value="ml" readonly>
                                
                            <!--Name--> 
                            <input type="text" id="ingredient-name-1" name="ingredient-name-1" class="form-cocktail__input" placeholder="Main Alcohol Name" 
                                aria-label="enter name of main alcohol" required>

                            <!--Alcohol Type-->
                            <select name="alcohol" id="alcohol" class="form-cocktail__input" aria-label="dropdown menu to select alcohol type" required>
                                <option value="" disabled selected hidden>Alcohol Type</option>
                                {% for alcohol in alcohol_categories %}
                                    <option value="{{ alcohol.alcohol_name }}">{{ alcohol.alcohol_name.title() }}</option>
                                {% endfor %}
                            </select>
                        </li>

                        <!--2nd Ingredient-->
                        <li class="ingredient">
                            
                             <!--Amount-->
                            <input type="text" id="ingredient-amount-2" name="ingredient-amount-2" class="form-cocktail__input form-cocktail__input--amount"
                                pattern="^[0-9.]{0,5}$" maxlength="5" placeholder="Amount" aria-label="enter amount of ingredient" required>
                            
                            <!--Unit-->
                            <select id="ingredient-unit-2" name="ingredient-unit-2" class="form-cocktail__input" aria-label="dropdown menu to select a unit type" required>
                                <option value="" disabled selected hidden>Unit</option>
                                {% for unit in units %}
                                    <option value="{{ unit.name }}">{{ unit.name }}</option>
                                {% endfor %}
                            </select>

                            <!--Name-->
                            <input type="text" id="ingredient-name-2" name="ingredient-name-2" class="form-cocktail__input" placeholder="Ingredient Name" 
                                aria-label="enter ingredient name" required>
                        </li>
                    </ul>
                    
                    <!--Add Button-->
                    <button id="add-ingredient" class="cocktail-btn cocktail-btn--add" type="button">
                        <i class="fas fa-plus-circle"></i> Add Ingredient
                    </button>

                    <!--Cocktail Garnish-->
                    <h3 class="cocktail__item-title">Garnish</h3>
                    <ul id="cocktail-garnish" class="cocktail__info">
                        <li class="garnish">

                            <!--Amount-->
                            <input type="text" id="garnish-amount-1" name="garnish-amount-1" class="form-cocktail__input form-cocktail__input--amount" 
                                pattern="^[0-9.]{0,5}$" maxlength="5" placeholder="1" aria-label="enter garnish amount" required>
                            
                            <!--Name-->
                            <input type="text" id="garnish-name-1" name="garnish-name-1" class="form-cocktail__input" placeholder="Garnish Name" 
                                aria-label="enter garnish name" required>
                            
                            <!--Remove Item Button-->
                            <button class="remove-garnish cocktail-btn cocktail-btn--remove" type="button">
                                <i class="fas fa-minus-circle"></i> Remove
                            </button>
                        </li>
                    </ul>
                    <button id="add-garnish" class="cocktail-btn cocktail-btn--add" type="button">
                        <i class="fas fa-plus-circle"></i> Add Garnish
                    </button>
                </div>

                <!--Cocktail Tools-->
                <div class="cocktail__tools col-3">
                    <h2 class="cocktail__item-title">Tools</h2>
                    <ul id="cocktail-tools" class="cocktail__info">
                        <li class="tool">

                            <!--Tool Selector-->
                            <select name="tool-1" id="tool-1" class="form-cocktail__input" aria-label="dropdown to select tool" required>
                                <option value="" disabled selected hidden>Select Tool</option>
                                {% for tool in tools %}
                                    <option value="{{ tool.name }}">{{ tool.name.title() }}</option>
                                {% endfor %}
                            </select>

                            <!--Remove Tool-->
                            <button class="remove-tool cocktail-btn cocktail-btn--remove" type="button">
                                <i class="fas fa-minus-circle"></i> Remove
                            </button>
                        </li>
                    </ul>

                    <!--Add Tool button-->
                    <button id="add-tool" class="cocktail-btn cocktail-btn--add" type="button">
                        <i class="fas fa-plus-circle"></i> Add Tool
                    </button>
                    
                    <!--Cocktail Glass-->
                    <h2 class="cocktail__item-title">Glass</h2>
                    <ul class="cocktail__info">
                        <li>
                            <select name="glass" id="glass" class="form-cocktail__input" aria-label="dropdown to select glass" required>
                                <option value="" disabled selected hidden>Select Glass</option>
                                {% for glass in glasses %}
                                    <option value="{{ glass.name }}">{{ glass.name.title() }}</option>
                                {% endfor %}
                            </select>
                        </li>
                    </ul>
                </div>

                <!--Upload Image-->
                <div class="cocktail__img-contianer col-4">
                    <img class="cocktail__img" src="https://drive.google.com/uc?export=view&id=1xxYCbYNJ5bQmalWEqNgZyl8zjxnV5Id9" alt="cocktial image">
                    <label for="cocktial-img" class="form__label">Copy and Paster Cocktail Image URL</label>
                    <p>Image will preview if URL valid after you click away.</p>
                    <p>Commonly the URL will end with the file name and .jpg, .jpeg or .png</p>
                    <input type="url" id="cocktail-img-url" name="cocktail-img-url" class="form__input" placeholder="Enter URL for cocktail image eg. https//www.example.com/image" required>
                </div>
            </div>

            <!--Cocktail Instructions-->
            <div class="cocktail__row row">
                <div class="cocktail__instructions col-8">
                    <h2 class="cocktail__item-title">Instructions</h2>
                    <ol id="cocktail-instructions" class="cocktail__info">
                        <li class="instruction">
                            <textarea id="instruction-1" name="instruction-1" class="form-cocktail__input form-cocktail__text-area" 
                                rows="3" placeholder="Type Instructions Here" maxlength="400" aria-label="enter instruction" required></textarea>
                        </li>
                    </ol>

                    <!--Add Instruction Button-->
                    <button id="add-instruction" class="cocktail-btn cocktail-btn--add clear-both" type="button">
                        <i class="fas fa-plus-circle"></i> Add Instruction
                    </button>
                </div>

                <!--Cocktail Tips-->
                <div class="cocktail__tips col-4">
                    <h2 class="cocktail__item-title">Tips</h2>
                    <ul id="cocktail-tips" class="cocktail__info">
                        <li class="form-tip">
                            <textarea id="tip-1" name="tip-1" 
                                class="form-cocktail__input form-cocktail__text-area form-cocktail__text-area--tip" rows="3" placeholder="Type your tip here" 
                                maxlength="200" aria-label="enter tip" required></textarea>
                            
                            <!--Remove Tip Button-->
                            <button class="remove-tip cocktail-btn cocktail-btn--remove float-right" type="button">
                                <i class="fas fa-minus-circle"></i> Remove
                            </button>
                        </li>
                    </ul>

                    <!--Add Tip Button-->
                    <button id="add-tip" class="cocktail-btn cocktail-btn--add clear-both" type="button">
                        <i class="fas fa-plus-circle"></i> Add Tip
                    </button>
                </div>
            </div>

            <!--Hidden Inputs Used for backend functions-->
            <input type="hidden" id="no-of-ingred" name="no-of-ingred" value="0">
            <input type="hidden" id="no-of-garnish" name="no-of-garnish" value="0">
            <input type="hidden" id="no-of-tools" name="no-of-tools" value="0">
            <input type="hidden" id="no-of-instr" name="no-of-instr" value="0">
            <input type="hidden" id="no-of-tips" name="no-of-tips" value="0">
            <div class="row">
                <div class="form-cocktail__submit col-12">
                    <!--Cancel Add Cocktail-->
                    <a href="{{ url_for('profile', profile_name=session.user, profile_id=session.id) }}" class="cta cta--delete cta---lesser cta--submit">Cancel</a>
                    
                    <!--Save as Draft-->
                    <input type="submit" class="cta cta---greater cta--submit" value="Save For Later">

                    <!--Publish for all users to see-->
                    <input type="submit" class="cta cta--create cta---greater cta--submit" value="Publish">
                </div>
            </div>
        </form>
    </section>
{% endblock %}
{% block scripts %}
    <script defer src="{{ url_for('static', filename='js/cocktail-form.js') }}"></script>
{% endblock %}