{% extends "base.html" %}
{% block content %}
    {% for cat in sort_cats %}
        <!--New Cocktails-->
        <section class="rec-carsousel">
            <div class="rec-carsousel__header">
                <h2 class="rec-carsousel__title inline-block">{{ cat.name }}</h2>
            </div>
            <hr class="rec-carsousel__page-line page-line page-line--brand">
            {% if cat.cocktails | length > 0 %}
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% for cocktail in cat.cocktails %}
                            {% include "rec-card.html" %}
                        {% endfor %}
                    </div>
                    <!--Navigation buttons-->
                    <div class="rec-carsousel__btn-container">
                        <div class="rec-carsousel__swiper-button swiper-button-prev"></div>
                        <!--Pagination-->
                        <div class="swiper-pagination inline-block"></div>
                        <div class="rec-carsousel__swiper-button swiper-button-next"></div>
                    </div>
                </div>
            {% else %}
                <div class="no-cocktail">
                    <h4 class="no-cocktails__text">No Cocktails</h4>
                </div>
            {% endif %}
        </section>
    {% endfor %}
{% endblock %}
