{% extends "base.html" %}
{% block content %}
    <!--Hero Image-->
    <section class="hero">
        <div class="hero__image">
            <div class="hero__inner">
                <h1 class="hero__title">Featured Cocktail</h1>
                <h2 class="hero__cocktail">Bramble</h2>
                <hr class="hero__page-line page-line page-line--brand page-line--left">
                <h3 class="hero__tagline">A Summer Classic<br>with sweet blackberries and a dash of sour.</h3>
                <a class="hero__cta cta" href="#">Try It At Home</a>
            </div>
        </div>
    </section>
    <section class="rec-carsousel">
        <div class="rec-carsousel__header">
            <h2 class="rec-carsousel__title inline-block">Newly Added</h2>
            <!--Pagination-->
            <div class="swiper-pagination inline-block"></div>
        </div>
        <hr class="rec-carsousel__page-line page-line page-line--brand">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for tail in cocktails %}
                <div class="rec-card card swiper-slide">
                    <i class="rec-card__bookmark far fa-bookmark"></i>
                    <img class="rec-card__img card-img-top" src="static/images/pornstar-martini.jpg" alt="#">
                    <div class="rec-card__info card-body">
                        <h5 class="rec-card__title">{{ tail.cocktail_name }}</h5>
                        <div class="row">
                            <div class="rec-card__star-rating col-6">
                                {%  for i in range (0, tail.rating) %}
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                            </div>
                            <div class="rec-card__col col-6">
                                <a href="#" class="rec-card__cta cta">Make It</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--Navigation buttons-->
            <div class="rec-carsousel__swiper-button swiper-button-prev"></div>
            <div class="rec-carsousel__swiper-button swiper-button-next"></div>
        </div>
    </section>
{% endblock %}
