{% extends "base.html" %}
{% block content %}
<!--Login-->
<section class="center-page">
    <div class="page-icon">
        <i class="far fa-user-circle"></i>
    </div>
    <h1 class="page-title">Login</h1>
    
    <!--Login Form-->
    <form id="login-form" class="form form--narrow" action="{{ url_for('login') }}" method="POST">
        <div class="row">
            <div class="col-12">
                <label for="login-username" class="form__label">Username</label>
                <input type="text" name="login-username" class="form__input" id="login-username" placeholder="examplebartender" maxlength="12" required>
            </div>
            <div class="col-12">
                <label for="login-password" class="form__label">Password</label>
                <input type="password" name="login-password" class="form__input" id="login-password" placeholder="Type your passsword here" maxlength="25" required>
            </div>
            <input type="submit" class="cta cta--form" id="login-submit" value="Login" aria-label="login button">
        </div>  
    </form>
    <p class="center-text">Don't have an account? <strong>Sign up <a href="{{ url_for('register') }}" class="brand-color bold">here</a></strong></p>
</section>
{% endblock %}
