{% extends "base.html" %}
{% block content %}
<!--Profile Info-->
<section class="section-spacing">
    <div class="profile">
        <div class="profile__container profile__container--img inline-block">
            <img class="profile__img" src="{{ url_for('static', filename='images/pornstar-martini.jpg') }}">
        </div>
        <div class="profile__container profile__container--text inline-block">
            <h1 class="profile__name">{{ profile.username }}</h1>
            <p class="profile__info">Number of Recipes: <span>000 add link from template</span></p>
            <p class="profile__info">Date Joined: <span>DD/MM/YYYY add link from template</span></p>
            <div class="profile__actions">
                <button class="cta"><i class="fas fa-user-edit"></i> Edit</button>
                <button class="cta cta--delete"><i class="fas fa-times"></i> Delete Profile</button>
            </div>
            <div class="profile__confirmation">
                <button class="cta cta--delete">Cancel</button>
                <button class="cta cta--create">Save Changes</button>
            </div>
        </div>
    </div>
</section>
{{user_bookmarks}}
<!--User Cocktails-->
<section class="rec-carsousel section-spacing">
    <div class="rec-carsousel__header">
        <h2 class="rec-carsousel__title inline-block">Your Cocktails</h2>
        <a href="#" class="rec-carsousel__cta cta cta--create"><i class="fas fa-plus"></i> Add Cocktail</a>
    </div>
    <hr class="page-line page-line--brand">

    <!--User Cocktails Filters-->
    <div class="rec-carsousel__filter-contianer"> 
        <div class="rec-carsousel__filter float-left">
            <h3 class="rec-carsousel__tag inline-block">Filter:</h3>
            {% for alcohol in alcohol_categories %}
                <button class="cta cta--filter">{{ alcohol.alcohol_name }}</button>
            {% endfor %}
        </div>

        <div class="rec-carsousel__sort float-right">
            <h3 class="rec-carsousel__tag inline-block">Sort:</h3>
            <button class="cta cta--filter">A-Z</button>
            <button class="cta cta--filter">Rating</button>
            <button class="cta cta--filter">Popularity</button>
        </div>
    </div>
    
    {% if user_cocktails | length > 0 %}
        <!--User Cocktails Carsousel-->
        <div class="swiper-container clear-both">
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for cocktail in user_cocktails %}
                    {% include "rec-card.html" %}
                {% endfor %}
            </div>
            <!--Navigation buttons-->
            <div class="rec-carsousel__btn-container">
                <div class="rec-carsousel__swiper-button swiper-button-prev"></div>
                <div class="rec-carsousel__swiper-button swiper-button-next"></div>
            </div>
        </div>
    {% else %}
        <div class="no-cocktail">
            <p class="no-cocktails__text">No Cocktails</p>
        </div>
    {% endif %}
</section>

<!--User Bookmarks-->
<section class="section-spacing">
    <div class="rec-carsousel__header">
        <h2 class="rec-carsousel__title inline-block">Your Bookmarks</h2>
    </div>
    <hr class="page-line page-line--brand">

    <!--User Bookmark Filters-->
    <div class="rec-carsousel__filter-contianer"> 
        <div class="rec-carsousel__filter float-left">
            <h3 class="rec-carsousel__tag inline-block">Filter:</h3>
            {% for alcohol in alcohol_categories %}
                <button class="cta cta--filter">{{ alcohol.alcohol_name }}</button>
            {% endfor %}
        </div>

        <div class="rec-carsousel__sort float-right">
            <h3 class="rec-carsousel__tag inline-block">Sort:</h3>
            <button class="cta cta--filter">A-Z</button>
            <button class="cta cta--filter">Rating</button>
            <button class="cta cta--filter">Popularity</button>
        </div>
    </div>

    {% if bookmarked_cocktails | length > 0 %}
        <!--User Bookmark Carsousel-->
        <div class="swiper-container clear-both">
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for cocktail in bookmarked_cocktails %}
                    {% include "rec-card.html" %}
                {% endfor %}
            </div>
            <!--Navigation buttons-->
            <div class="rec-carsousel__btn-container">
                <div class="rec-carsousel__swiper-button swiper-button-prev"></div>
                <div class="rec-carsousel__swiper-button swiper-button-next"></div>
            </div>
        </div>
    {% else %}
        <div class="no-cocktail">
            <h4 class="no-cocktails__text">No Cocktails</h4>
        </div>
    {% endif %}
</section>
{% endblock %}