{% extends "base.html" %}
{% block content %}
<!--Profile Info-->
{% if edit == "true" %}
    <section class="profile-spacing">
        <form class="form" action="{{ url_for('profile', profile_name=session.user, profile_id=session.id) }}" method="POST">
            <div class="profile">
                <div class="profile__container profile__container--img inline-block">
                    <img class="profile__img" src="{{ profile.image }}" alt="profile image">
                </div>
                <label for="image-img" class="profile__label form__label">Copy and Paster Cocktail Image URL</label>
                <p>Image will preview if URL valid after you click away.</p>
                <p>Commonly the URL will end with the file name and .jpg, .jpeg or .png</p> 
                <input id="image-url" name="image-url" class="form__input form__input--profile" value="{{ profile.image }}" placeholder="Enter URL of Image eg. https://www.example.com/image" required>
                <div class="profile__container inline-block">
                    <label for="image-url" class="form__label">Username</label>
                    <input id="username" name="username" class="form__input form__input--font-large profile__name" pattern="^[a-zA-Z0-9]{4,25}$" maxlength="12" placeholder="Enter New Username" value="{{ profile.username }}" required>
                    <div class="profile__actions profile__actions--center">
                        <a href="{{ url_for('profile', profile_name=session.user, profile_id=session.id) }}" class="cta cta--delete cta--confirm">Cancel</a>
                        <button class="cta cta--create cta--confirm" name="form-submit" value="update-profile">Save Changes</button>
                        <a href="{{ url_for('delete_profile', user_id=session.id) }}" class="cta cta--delete cta--confirm"><i class="fas fa-times"></i> Delete Profile</a>
                    </div>
                </div>
            </div>
            <input type="hidden" id="random" name="random" value="{{ range(1, 10000000) | random }}">
        </form>
    </section>
{% else %}
    <section class="profile-spacing">
        <div class="profile">
            <div class="profile__container profile__container--img inline-block">
                <img class="profile__img" src="{{ profile.image }}" alt="profile image">
            </div>
            <div class="profile__container profile__container--text inline-block">
                <h1 class="profile__name">{{ profile.username }}</h1>
                <p class="profile__info"><strong>Number of Cocktails:</strong> 10</p>
                <p class="profile__info"><strong>Date Joined:</strong> {{ profile.date_added.strftime('%d/%m/%y') }}</p>
                {% if profile._id | string == session.id %}
                    <div class="profile__actions">
                        <a href="{{ url_for('profile', profile_name=session.user, profile_id=session.id, edit='true') }}" class="profile-cta cta cta--confirm"><i class="fas fa-user-edit"></i> Edit</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}

{% if session.id == profile._id | string %}
    <!--User Bookmarks-->
    <section class="section-spacing">
        <div class="rec-carsousel__header">
            <h2 class="rec-carsousel__title inline-block">Your Bookmarks</h2>
        </div>
        <hr class="page-line page-line--brand">

        {% if bookmarked_cocktails | length > 0 %}
            <!--User Bookmark Carsousel-->
            <div class="swiper-container clear-both">
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for cocktail in bookmarked_cocktails %}
                        {% include "rec-card.html" %}
                    {% endfor %}
                </div>
                <!--Navigation buttons-->
                <div class="rec-carsousel__btn-container">
                    <div class="rec-carsousel__swiper-button swiper-button-prev"></div>
                    <!--Pagination-->
                    <div class="swiper-pagination inline-block"></div>
                    <div class="rec-carsousel__swiper-button swiper-button-next"></div>
                </div>
            </div>
        {% else %}
            <div class="no-cocktail">
                <h4 class="no-cocktails__text">No Cocktails</h4>
            </div>
        {% endif %}
    </section>
{% endif %}

{% for cat in user_alcohol_cats %}
    <!--User Cocktails-->
    <section class="rec-carsousel section-spacing">
        <div class="rec-carsousel__header">
            {% if session.id == profile._id | string %}
                <h2 class="rec-carsousel__title inline-block">Your {{ cat.name }}</h2>
                <a href="{{ url_for('cocktail_create') }}" class="rec-carsousel__cta cta cta--create"><i class="fas fa-plus"></i> Add Cocktail</a>
            {% else %}
                <h2 class="rec-carsousel__title inline-block">{{ profile.username }} {{cat.name}}</h2>
            {% endif %}
        </div>
        <hr class="page-line page-line--brand">
        
        {% if cat.cocktails | length > 0 %}
            <!--User Cocktails Carsousel-->
            <div class="swiper-container clear-both">
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for cocktail in cat.cocktails %}
                        {% include "rec-card.html" %}
                    {% endfor %}
                </div>
                <!--Navigation buttons-->
                <div class="rec-carsousel__btn-container">
                    <div class="rec-carsousel__swiper-button swiper-button-prev"></div>
                    <!--Pagination-->
                    <div class="swiper-pagination inline-block"></div>
                    <div class="rec-carsousel__swiper-button swiper-button-next"></div>
                </div>
            </div>
        {% else %}
            <div class="no-cocktail">
                <h4 class="no-cocktails__text">No Cocktails</h4>
            </div>
        {% endif %}
    </section>
{% endfor %}
<div class="center-text">
    <a href="{{ url_for('home') }}" class="cta cta--home">Home</a>
</div>    
{% endblock %}