<!--Rec Card-->
<div class="rec-card card swiper-slide">
    <!--Bookmark Form-->
    {% if alcohol %}
        <form class="rec-card__bookmark-form" action="{{ url_for('home', alcohol_name=alcohol.alcohol_name) }}" method="POST">
    {% elif profile %}
        <form class="rec-card__bookmark-form" action="{{ url_for('profile', profile_name=profile.username, profile_id=profile._id) }}" method="POST">
    {% else %}
        <form class="rec-card__bookmark-form" action="{{ url_for('home') }}" method="POST">
    {% endif %}
        <input type="hidden" name="random" value="{{ range(1, 10000000) | random }}">
        <input type="hidden" name="cocktail-id" value="{{ cocktail._id }}">

        <!--Bookmark Icon Changer-->
        {% if cocktail._id | string in user_bookmarks %}
            <button class="rec-card__bookmark" name="form-submit" value="bookmark">
                <i class="cocktail-header__bookmark fas fa-bookmark inline-block"></i>
            </button>
        {% else %}
            <button class="rec-card__bookmark" name="form-submit" value="bookmark">
                {% if session.user %}
                    <i class="far fa-bookmark inline-block"></i>
                {% else %}
                    <i class="faded far fa-bookmark inline-block"></i>
                {% endif %}
            </button>
        {% endif %}

    </form>

    <!--Image-->
    <img class="rec-card__img card-img-top" src="{{ cocktail.image }}" alt="cocktail image">

    <!--Card Body-->
    <div class="rec-card__info card-body">
        <h5 class="rec-card__title">{{ cocktail.cocktail_name.title() }}</h5>
        <div class="row">
            <!--Star Rating-->
            <div class="rec-card__star-rating col-7">
                <p>
                    {% if cocktail.rating == 0 %}
                        No Rating
                    {% else %}
                        {%  for i in range (0, cocktail.rating | round | int) %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                    {% endif %}
                    <span class="rec-card__no_rating"> ({{cocktail.no_rating }})</span>
                </p>
            </div>

            <!--Make It-->
            <div class="rec-card__col col-5">
                <a href="{{ url_for('cocktail', cocktail_name=cocktail.cocktail_name.replace(' ', '-'), cocktail_id=cocktail._id) }}" class="rec-card__cta cta cta--create">Make It</a>
            </div>

            {% if not profile %}
                <!--Author-->
                <div class="col-12">
                <a href="{{ url_for('profile', profile_name=cocktail.author, profile_id=cocktail.author_id) }}">
                        by <span class="rec-card__author">{{ cocktail.author }}</span>
                    </a>
                </div>
            {% endif %}
        </div>

        {% if (profile) and (session.id | string == cocktail.author_id | string) %}
            <!--Function Buttons-->
            <div class="rec-card__container">
                <a href="{{ url_for('cocktail_create', cocktail_name=cocktail.cocktail_name.replace(' ', '-'), cocktail_id=cocktail._id) }}" class="cta cta--edit cta--profile cta--link inline"><i class="fas fa-pencil-alt"></i> Edit</a>
                <button class="cta cta--delete cta--fw cta--profile" type="button">
                    <i class="fas fa-minus-circle inline"></i> Delete
                </button>
            </div>
        {% endif %}
    </div>
</div>