{% extends "base.html" %}
{% block content %}
<section class="center-page">
    <h1 class="page-title">Sign Up</h1>
    <h2 class="page-tagline center-text">Allows you to bookmark your favourite recipes and add your own.</h2>
    <form id="login-form" class="form" action="#" target="_blank" method="post">
        <div class="row">
            <div class="col-12">
                <label for="signup-username" class="form_label">Username <span class="form-input-info">Max 25 characters.</span></label>
                <input type="text" name="signup-username" class="form_input" id="signup-username" placeholder="examplebartender" maxlength="25" required>
            </div>
            <div class="col-12">
                <label for="signup-password" class="form_label">Password <span class="form-input-info">No specail characters.</span></label>
                <input type="passsword" name="signup-password" class="form_input" id="signup-password" placeholder="Type your passsword here" maxlength="25" required>
                <label for="confirm-password" class="form_label">Confirm Password</label>
                <input type="passsword" name="confirm-password" class="form_input" id="confirm-password" placeholder="Make sure it matches" maxlength="25" required>
            </div>
            <input type="submit" class="cta cta--form" id="signup-submit" value="Sign Up" aria-label="sign up button">
        </div>  
    </form>
    <p class="center-text">Already have an account? <strong>Login <a href="{{ url_for('login') }}" class="brand-color bold">here</a></strong></p>
</section>
{% endblock %}
